<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="swiftnav">
  <xacro:macro name="swiftnav" params="*origin parent:=base_link name:=gps">

    <joint name="swiftnav_${name}_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <visual>
        <origin rpy="1.57079632679 0 0" xyz="0 0 0.0"/>
        <geometry>
          <mesh filename="package://transforms/models/sense/sensors/swiftnav_description/mesh/gps_antenna.stl" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="1.57079632679 0 0" xyz="0 0 0.0"/>
        <geometry>
          <mesh filename="package://transforms/models/sense/sensors/swiftnav_description/mesh/gps_antenna.stl" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
