<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="deltat">
  <xacro:macro name="deltat" params="*origin parent:=base_link name:=sonar_link">

    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <visual>
        <origin rpy="0 1.57079632679 0" xyz="0 0 0.0"/>
        <geometry>
          <mesh filename="package://transforms/models/sense/sensors/deltat_description/mesh/deltat.stl" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 1.57079632679 0" xyz="0 0 0.0"/>
        <geometry>
          <mesh filename="package://transforms/models/sense/sensors/deltat_description/mesh/deltat.stl" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
