<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps">
  <xacro:macro name="gps" params="*origin parent:=base_link name:=gps">

    <joint name="${name}_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}"/>
  </xacro:macro>
</robot>
